body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    padding: 37px 167px;
    position: relative;
    margin: auto;
    background-image: url("../../images/background.png");
}
