.main-aside-container {
    display: flex;
    flex-direction: row;
}

.main {
    width: 100%;
    max-width: 734px;
    padding: 31px 0 25px 34px;
    text-align: justify;
    .main-header-wrapper {
        position: relative;
        margin: 0 34px 24px 0;
        display: flex;
        justify-content: space-between;
        .main-header {
            color: #3d3d3d;
            font-size: 24px;
            max-width: 74%;
            text-align: left;
            word-spacing: -3px;
            font-weight: 400;
        }
    }
    .article-wrapper {
        .caption-wrapper {
            text-align: center;
            margin-bottom: 33px;
            span {
                font-size: 11px;
                color: #c0c0c0;
            }
        }
        
    }
    .main-date {
        position: absolute;
        left: 94%;
        text-align: center;
        padding: 15px 25px;
        color: #bebebf;
        background: repeating-linear-gradient(
        -45deg,
         transparent,
         transparent 9px,
         #e7e7e7 1px,
         #e7e7e7 10px
        );
        .date-header {
            font-size: 17px;
            font-weight: 700;
        }
        .date-text {
            font-size: 10px;
        }
    }
    .text-italic {
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        font-size: 15px;
        color: #a1a3a4;
        font-style: italic;
        padding: 19px 24px 29px 0;
        margin: 0 0px 26px 0;
        line-height: 1.4;
    }
    .main-header-red {
        color: #ae3b44;
        font-size: 15px;
        padding: 0px 0 20px 0;
        font-weight: 400;
    }
    .main-text {
        font-size: 12px;
        line-height: 1.58;
        margin-right: 25px;
        margin-bottom: 41px;
        word-spacing: -0.52px;
    }
    
    .main-imgBig-wrapper {
        text-align: center;
        margin-bottom: 5px;
    }
    .main-text-top {
        line-height: 1.6;
        font-size: 12px;
        margin-right: 18px;
    }
    .main-imgSmall-wrapper {
        padding: 32px 33px 29px 0;
        float: left;
    }
    .main-text-center1 {
        line-height: 1.583;
        font-size: 12px;
        margin-bottom: 22px;
        margin-right: 18px;
    }
    .main-text-center2 {
        line-height: 1.6;
        font-size: 12px;
        margin-right: 18px;
        padding-bottom: 33px;
        margin-bottom: 23px;
        border-bottom: 1px solid #e7e7e7;
    }
    .main-text-end1 {
        line-height: 1.583;
        font-size: 12px;
        margin-right: 18px;
        margin-bottom: 23px;
    }
    .main-text-end2 {
        border-bottom: 1px solid #e7e7e7;
        line-height: 1.583;
        font-size: 12px;
        margin-right: 18px;
        padding-bottom: 30px;
        margin-bottom: 25px;
    }
    .main-nav {
        max-height: 67px;
        display: flex;
        justify-content: space-between;
        button {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            position: relative;
            border: 1px solid #ababab;
            cursor: pointer;
            &:hover {
                background: #ababab;
            }
            i {
                position: absolute;
                color: #757575;
            }
            .fa-caret-left {
                top: 0%;
                left: 17%;
            }
            .fa-caret-right {
                top: 0%;
                right: 17%;
            }

        }
        span {
            color: #ae3b44;
            font-size: 15px;
        }
        .previous {
            span {
                margin-left: 17px;
            }
        }
        .next {
            span {
                margin-right: 17px;
            }
        }
    }
}
