.main-aside-container {
    display: flex;
    flex-direction: row;
}

.main {
    width: 100%;
    max-width: 734px;
    padding-left: 34px;
    text-align: justify;
    .main-header-wrapper {
        position: relative;
        padding: 31px 34px 27px 0;
        .main-header {
            color: #3d3d3d;
            font-size: 24px;
            max-width: 78%;
            text-align: left;
            word-spacing: -3px;
        }
    }
    .main-date {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 42px;
        width: 80px;
        text-align: center;
        padding: 21px 0;
        color: #bebebf;
        background: repeating-linear-gradient(
        -45deg,
         transparent,
         transparent 9px,
         #e7e7e7 1px,
         #e7e7e7 10px
        );
        .date-header {
            font-size: 17px;
            font-weight: 700;
        }
        .date-text {
            font-size: 10px;
        }
    }

    .line {
        @include line;
    }
    .text-italic {
        font-size: 15px;
        color: #a1a3a4;
        font-style: italic;
        padding: 19px 26px 29px 0px;
        line-height: 1.4;
    }
    .main-header-red {
        color: #ae3b44;
        font-size: 15px;
        padding: 24px 0 20px 0;
    }
    .main-text {
        font-size: 12px;
        line-height: 1.58;
        padding-right: 25px;
        word-spacing: -0.52px;
    }
    .main-imgBig-wrapper {
        text-align: center;
        img {
            padding: 41px 36px 4px 0px;
        }
        div {
            font-size: 11px;
            color: #c0c0c0;
            margin-bottom: 35px;
            margin-right: 40px;
        }
    }
    .main-text-top {
        line-height: 1.6;
        font-size: 12px;
        padding-right: 18px;
    }
    .main-imgSmall-wrapper {
        padding: 32px 33px 29px 0;
        float: left;
    }
    .main-text-center1 {
        line-height: 1.583;
        font-size: 12px;
        margin-bottom: 22px;
        padding-right: 18px;
    }
    .main-text-center2 {
        line-height: 1.6;
        font-size: 12px;
        padding-right: 18px;
        padding-bottom: 31px;
    }
    .main-text-end1 {
        line-height: 1.583;
        font-size: 12px;
        padding-right: 18px;
        padding-bottom: 23px;
    }
    .main-text-end2 {
        line-height: 1.583;
        font-size: 12px;
        padding-right: 18px;
        padding-bottom: 28px;
    }
    .main-nav {
        max-height: 67px;
        button {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            position: relative;
            border: 1px solid #ababab;
            i {
                position: absolute;
                color: #757575;
            }
            .fa-caret-left {
                top: 0%;
                left: 17%;
            }
            .fa-caret-right {
                top: 0%;
                right: 17%;
            }

        }
        span {
            color: #ae3b44;
            font-size: 15px;
        }
        .previous {
            float: left;
            padding: 27px 0 23px 0;
            span {
                margin-left: 17px;
            }
        }
        .next {
            float: right;
            padding: 27px 0 23px 0;
            span {
                margin-right: 17px;
            }
        }
    }
}
