.news {
        width: 100%;
        position: relative;
    .news-content {
        max-width: 979px;
        max-height: 128px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #ae3b44;
        border-top: 7px solid black;
        .news-image {
            img {
                max-width: 245px;
            }
        }
        .news-text-wrapper {
            align-self: center;
            .text-container {
                margin-left: 34px; 
                display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            text-align: left;
            }
            .news-header {
                font-size: 24px;
                font-weight: 400;
                color: #fff;
                min-width: 155px;
                width: 11%;
            }
            .news-text-inside {
                    padding-bottom: 21px;
                    margin-left: 80px;
                    width: 89%;
                    line-height: 1.6;
                    align-self: center;
                }
        }
    }
    .news-icons-wrapper {
        position: absolute;
        bottom: 15px;
        right: 25px;
        display: flex;
        width: 35px;
        justify-content: space-between;
        i {
            font-size: 16px;
            color: #f3e2e3;
            cursor: pointer;
            &:hover {
                color: #726b6b;
            }
        }
    }
}
